@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90vw;
  margin: auto;
  margin-top: 3rem;
}

.btn {
  font-size: 1.5rem;
  padding: .5rem .75rem;
  background-color: #333;
  color: #f4f4f4;
  border: none;
  display: block;
  margin: 1rem 0;
  margin-bottom: 3rem;
  transition: background-color .5s ease;
  transition: padding .5s ease;
}

.subBtn {
  font-size: 1.5rem;
  padding: .5rem .75rem;
  background-color: #333;
  color: #f4f4f4;
  border: none;
  
  margin: .5rem 1rem .5rem 0;
  transition: background-color .5s ease;
  transition: padding .5s ease;
}

.subBtn:hover {
  cursor: pointer;
  background-color: #003F5D;
  padding: 1rem 1.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #003F5D;
  padding: 1rem 1.5rem;
}

.input {
  border: none;
  border-bottom: 2px solid #333;
  width: 100%; 
  font-size: 3rem;
  font-weight: bold;
}

.todo {
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem 0;
}



.input:focus {
  outline: none;
}

#title {
  font-size: 8rem;
  font-family: 'Staatliches', cursive;
  color: #333;
  word-spacing: 2rem;
}

